.estiloBotao {
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: var(--main-color) !important;
    font-weight: bold;
    color: #fff;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 15px;
    text-align: center;
}

.estiloBotao:hover {
    cursor: pointer;
    background-color: var(--second-color)!important;
    transition: .5s ;
}